<% include ../partials/header %> <!-- moves one directory back and enters the partials folder -->

<div class="container">
    <div class="container">
    <header class="jumbotron">
            <h1>Welcome to YelpCamp</h1>
            <p>View our Handpicked Campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-default" href="/campgrounds/new">Add new Campground</a>
            </p>
        
    </header>
    
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Our most popular Campgrounds</h3>
        </div>
    </div>
        <div class="row text-center" style="display:flex; flex-wrap: wrap">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-md-3 col-sm-6"> <!-- by default extra small (xs) is defined with 12 units-->
                    <div class="thumbnail">
                        <img  src="<%= campground.image %>">
                    
                        <div class="caption">
                            <h4> <%= campground.name %> </h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% }) %>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</div> 
    
<% include ../partials/footer %>
